*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    text-decoration: none;
}
.container{
    max-width: 90%;
    margin: 0 auto;
}

img{
    width: 100%;
    height: 100%;
    display: block;
}
.header{
    width: 100%;
    height: 70px;
}

.navigation{
    width: 100%;
    height: 10vh;
    background-color: rgb(15, 23, 112);
z-index: 999;


}
.navbar{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar__nav a:first-of-type{
    margin-left: 730px;
}
 
 

.nav__logo a{
    font-size: 2rem;
   font-weight: bold;
    color: white;

}
.navbar__nav i:last-of-type{
    display: none;
}
.navbar__nav a{
    margin-left: 5px;
    margin-right: 15px;
    font-size: 1.3rem;
    color: white;
    transition: all 0.5s linear;

}
.navbar__nav a:hover{
    color: blue;
    transition: all 0.5s linear;
}
.navbar__nav i{
    color: white;
    margin-left: 15px;
    font-size: 0.9rem;
    letter-spacing: 3px;
}
.slider__contact{
    width: 100%;
    height: 120vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
  background-image: url(/images/hero-bg.png);
  background-size: 100% 109vh;
  background-repeat: no-repeat;
    color: aliceblue;
}
.slider__contact h2{
font-size: 3.1rem;
margin-left: 12rem;

}
.slider__contact .item{
    margin-top: 10vh;
}
.slider__contact h3{
    font-size: 3.3rem;
margin-left: 12rem;
margin-top: 23vh;

}
.slider__contact p{
    margin-left: 12rem;
    margin-top: 10px;
}
.slider__contact button{
    margin-left: 12rem;
    padding: 10px 35px;
    font-size: 1.1rem;
    margin-top: 20px;
    background-color: rgb(148, 219, 255);
    color: white;
transition: all 0.5s linear;
}
.slider__contact button:hover{
opacity: 0.6;
transition: all 0.5s linear;
}
.slider__contact img{
    width: 90%;
    height: 90%;
    animation: img 2.4s linear infinite;
}
.slider__contact .item:last-of-type{
    width: 80%;
    height: 80vh;
    margin-left: 5rem;
}
@keyframes img{
    0%,100%{
transform: translateY(0%);
    }
    50%{
        transform: translateY(7%);

    }
}
.banner{
    width: 100%;
    text-align: center;
}
.banner p{
    margin-top: 20px;
}
.banner s{
    font-size: 2rem;
    font-weight: bold;
}
.banner b{
    font-size: 2rem;
    color: rgb(0, 141, 173) ;
    margin-left: 5px;

}
.banner__contact p{
    margin-top: 10px;
    margin-bottom: 15px;

}
.banner img {
    width: 20%;
    height: 12vh;
    opacity: 0.9;
    margin: 0 auto;
    margin-top: 10px;
}
.banner .item{
    background-color: rgb(250, 246, 246);
    width: 80%;
    height: 36vh;
    margin-top: 10vh;
    margin-right: 10rem;
    margin-left: 5rem;
    border-radius: 5px;
}
.banner__contact{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem ;
}
.banner__contact h2{
    margin-top: 20px;
    font-size: 1.5rem;
    opacity: 0.8;
    font-weight: 550;
}
.banner__contact a{
    margin-top: 20vh;
    color: black;
    font-weight: 900;
}
 button{
  padding: 8px 48px;
margin-left: 720px;
margin-top: 40px;
font-size: 1.3rem;
border: 0;
background-color: rgb(0, 191, 255);
color: white;
transition: all 0.6s linear;

}
button:hover{
   background-color: rgb(56, 79, 126);
   transition: all 0.6s linear;
}
.row{
    text-align: center;
    height: 20vh;
    margin-top: 40px;
    background-color: rgb(6, 40, 94);
   border: 1px solid rgb(6, 40, 94);
}
.row h2{
    margin-top: 77px;
}
.row s{
    font-weight: bold;
    font-size: 2rem;
    color: white;
    width: 100%;
   
}
.row p{
    color: white;
    opacity: 0.8;
    margin-top: 10px    ;
    font-size: 1.1rem;
}
.row b{
    font-weight: bold;
    font-size: 2rem;
    color: rgb(87, 87, 220);
    margin-left: 3px;
}
.about{
    background-color: rgb(6, 40, 94);
width: 100%;
height: 100vh;

}
.containir{
    width: 95%;
    margin: 0 auto;
}
.about__contact {
    display: grid;
    grid-template-columns: 53% 48%;
    color: white;
}
.about__contact h2{
    margin-top: 100px;
    font-size: 2rem;
}
.about__contact button{
    margin-left: 1px;
}
.about__contact p{
    margin-top: 20px;
    margin-right: 3rem;
    letter-spacing: 0.4px;
    font-size: 1.1rem;
    opacity: 0.8;
}
.about__contact img{
    width: 80%;
    margin-top: 60px;
    margin-left: 50px;
}
.Why__Choose{
    text-align: center;
    margin-top: 10vh;
}
.Why__Choose s{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 5px;

}
.Why__Choose b{
    font-size: 2rem;
    color: blue;
}
.info_section{
    width: 100%;
    text-align: center;
}
.info_section img{
    margin: 0 auto;
    margin-top: 40px;
    width: 7%;
    border: 5px solid rgb(75, 75, 91);
    border-radius: 100%;
    padding: 10px 10px;
}
.info__section__contact{
width: 100%;
margin: 0 auto;
}
.info__section__contact .item{
    width: 75%;
    margin: 0 auto;
    margin-top:90px;
}
.info_section h2{
    margin-top: 20px;
}
.info_section p{
    opacity: 0.8;
    margin-top: 20px;
    font-size: 1.1rem;
}
.info_section button{
    margin: 0 auto;
    margin-top: 7vh;
}
.contact_link_box{
    background-color: rgb(29, 29, 91);
    width: 100%;
    height: 60vh;
}
.team__link{
    margin-top: 60px;
    text-align: center;
    width: 100%;
    height: 20vh;
    background-color: rgb(29, 29, 91);
    padding-top: 90px;
}
.team__link s{
    margin-top: 20px ;
    color: white;
    font-size: 2.3rem;
    font-weight: bold;
}
.team__link b{
    margin-top: 20px ;
    color: rgb(55, 255, 255);
    font-size: 2.3rem;  
    margin-left: 5px;
}
.contact_link_box__contact{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.contact_link_box__contact img{
width: 10vh;
border: 5px solid rgb(212, 212, 212);
border-radius: 100%;
width: 7rem;
height: 7rem;

margin: 0 auto;
}
.contact_link_box__contact .item{
    width: 90%;
    padding-top: 30px;
    height: 45vh;
    border-radius: 5px;
    background-color: rgb(56, 56, 133);
}
.contact_link_box__contact h3{
text-align: center;
margin-top: 15px;
color: rgb(0, 98, 184);
font-size: 1.4rem;
}
.contact_link_box__contact p{
margin-top: 20px;
color: white;
margin-left: 110px;
}
.contact_link_box__contact i{
margin-top: 70px;
font-size: 1.5rem;
margin-left: 35px;
color: white;
text-align: center;
transition: all 0.4s linear;

}
.contact_link_box__contact i:hover{
    color: rgb(64, 64, 240);
    transition: all 0.4s linear;
}
.link_login{
    text-align: center;
    font-size: 2.1rem;
    padding-top: 70px;
}
.link_login s{

    font-weight: bold;
}
.link_login b{
    color: aqua;
}
.customers{
    width: 100%;
    height: 80vh;

}
.customers__contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.customers__contact img{
    margin-top: -2rem;
    margin-left: 25px;
width: 17%;
height: 46%;
border-radius: 100%;
}
.customers__contact .item{
    margin-top: 80px;
    width: 80%;
    box-shadow: 0 0 20px rgb(183, 183, 183);
    height: 30vh;
    margin-left: 20px;
}
.customers__contact .item:first-of-type{
    margin-left: 7rem;
}
.customers__contact h4{
    margin-top: 23px;
    margin-left: 20px;
    font-size: 1.2rem;
opacity: 0.8;
}
.customers__contact s{
    margin-left: 20px;
    opacity: 0.9;
    margin-top: 10px;
}
.customers__contact p{
    opacity: 0.8;
   margin-top: 20px;
   margin-left: 20px;
}
.info_col{
    margin-left:686px;
    margin-top: 30px;
    font-size: 2rem;
    font-weight: bold;
 padding-top: 20px;

}
.info_col span{
  margin-left: 10px;
  border-radius: 2px;
  background-color: rgb(236, 236, 236);
  padding: 7px 20px;
}
.footer{
    background-color: rgb(33, 33, 77);
    width: 100%;
    height: 50vh;
    margin-top: 5vh;
}
.footer__contact{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: white;
    padding-top: 50px;
}
.footer__contact h2{
    color: white;
}
.footer__contact i{
    color: white;
    margin-top: 20px;
    font-size: 0.8rem;
    transition: all 0.5s linear;
letter-spacing: 2.4px;
 
}
.footer__contact i:hover{
    color: rgb(0, 135, 135);
}
.footer__contact b:hover{
    color: rgb(27, 97, 97);
}
.footer__contact b{
    margin-left: 15px;
    color: white;
    margin-top: 20px;
    font-size: 1.7rem;
    transition: all 0.5s linear;
}
.footer__contact button{
   margin-left: 2px;
}
.footer__contact .item:first-of-type{
    width: 73%;
    margin-left: 8vh;
}
.footer__contact .item{
    width: 80%;
    margin-left: 20px;
}
.footer__contact p{
    margin-top: 20px;
}
.footer__contact a{
    display: grid;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    margin-top: 16px;
    transition: all 0.4s linear;
   
}
.footer__contact a:hover{
    color: rgb(25, 0, 255);
}
.enter__email{
    border: 0;
    background: 0;
    color: black;
    font-size: 1.1rem;
    margin-top: 20px;
  outline: 0;
  color: rgb(170, 170, 255);
    
}
.tr{
    border: 1px solid white;
    border: 0;
    border-bottom: 1px solid white;
    margin-top: 10px;
    height: 50px;
}
.titil{
    font-size: 1.1rem;
    text-align: center;
  height: 11vh;
  display: grid;
  align-items: center;
    width: 100%;
}